<%@ page import="PassVault.SecUser" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
        <meta name="sub" content="securityNews"/>
		<title>PassVault | About</title>
	</head>
	<body>
	        <div class="space"></div>
            <div class="jumbotron">
                    <h1>PassVault | Security News <img height="50em" width="50em" src="${resource(dir:'images', file:'passvault.jpg')}" /></h1>
                    <p class="lead">The one stop security solution.</p>
            </div>
       <center>
            <script type="text/javascript" src="http://output92.rssinclude.com/output?type=js&amp;id=804241&amp;hash=8e4e9222b9f7588d257040d20e448c1a"></script>
       </center>
	</body>
</html>
