html{
        height: 100%;
        min-height: 100% !important;
		background: rgb(255,255,255);
}

body{
    height: 100%;
    min-height: 100% !important;
}

.container{
    height: 76.5%;
    min-height: 76.5% !important;
}

footer{
		text-align: center;
		color: rgb(255,255,255);
		padding:5px;
		position:absolute;

		height: 7%;
		width: 100%;
		background: rgb(0,0,0);
}

.jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

.space{
		height: 20px;
		padding: 15px;
}